#######################################
# system
#######################################
*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#######################################
# projects
#######################################
coverage/
dist/

#######################################
# config
#######################################
env.local
.env

#######################################
# node
#######################################
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
